:root {
  --filter-icon: brightness(0) saturate(100%) invert(84%) sepia(32%)
    saturate(227%) hue-rotate(117deg) brightness(92%) contrast(86%);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}
