.Todos {
  width: 600px;
  height: 570px;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  &__title {
    font-size: 100px;
    color: rgb(233, 217, 216);
  }

  &__add-task {
    display: flex;
    width: 500px;

    & input {
      padding: 1rem;
      width: 90%;
      height: 60px;
      border: none;
      border-bottom: 2px solid rgb(245, 245, 245);
      // border: 0.5px solid rgb(172, 157, 157);
    }
    & button {
      width: 10%;
      padding: 0.2rem 0.5rem;
      border: none;
      background-color: rgb(233, 217, 216);
      border-radius: 0.3rem;
      cursor: pointer;
    }
  }
}
